*{
    margin: 0;
    body:0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(85deg, hsl(0, 0%, 100%), hsl(0, 80%, 96%));
    height: 100vh;
}

.header-container{
    width: 100%;
}

.header-container img{
    display: block;
    padding: 1.8em 7em;
    height: 30px;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding-left: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.text-content{
    margin-top: 7em;
    margin-left: 5em;
}


.col-2 img{
    max-width: 100%;
    height: 100%;
}


.col-2 h1{
    text-transform: uppercase;
    display: block;
    padding-bottom: 0.5em;
    color: hsl(0, 6%, 24%);
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 12px;
    line-height: 1.4;
    max-width: 440px;

}

h1.first-line{
    padding-bottom: 0;
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.col-2 h4{
    display: block;
    max-width: 480px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 22px;
    padding-bottom: 3em;
    padding-right: 0.2em;
    color: hsl(0, 36%, 70%);
}


.input-items{
    position: relative;
}

.email-input{
    border: 1.8px solid hsl(0, 36%, 70%);
    border-radius: 40px;
    width: 350px;
    height: 50px;
    font-size: 14px;
    background: transparent;
}

.email-input:focus{
    outline: none;
    border: 1.8px solid hsl(0, 74%, 74%);
}

input::placeholder{
    color: hsl(0, 36%, 70%);
}

input.email-input{
    padding-left: 2em;
}

.input-items p{
    font-size: 12px;
    margin-top: 1em;
    margin-left: 2em;
    padding-top: 5px;
    padding-bottom: 40px;
    color: hsl(0, 74%, 74%);
    font-weight: 400;
    position: absolute;
}

.input-items button{
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    color: #fff;
    font-size: 24px;
    height: 55px;
    width: 100px;
    border-radius: 40px;
    border: none;
    position: absolute;
    left: 300px;
    bottom: 0;
    cursor: pointer;
}

.fas{
    color: #fff;
    font-size: 20px;
    padding: 10px 38px;
}

.fas:hover{
    transform: translateX(5px);
    color: rgb(165, 72, 72);
    transition: 0.5s;
}

.fas:active{
    color: #fff;
    transition: 0.5s;

}

footer{
    position: absolute;
    bottom: 0;
    font-size: 10px;
    color: hsl(0, 36%, 70%);
}

/* Begin media queries */
@media only screen and (min-width: 751px) and (max-width: 1100px){
    .col-2 img{
        transform: scale(90%);
    }
}

@media only screen and (max-width: 750px){
    .container{
        padding: 0;
    }
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
    }
    .col-2{
        flex-basis: 100%;
    }
    .col-2 img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: 100% 10%;
    }
    .text-content{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col-2 h1{
        text-align: center;
    }
    .col-2 h4{
        text-align: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 1.5em;
    }
    input.email-input{
        padding-left: 1em;
    }
    .email-input{
        border-radius: 24px;
        max-width: 240px !important;
        height: 40px;
    }
    .input-items button{
        width: 50px;
        position: absolute;
        left: 180px !important;
        bottom: 0;
    }
}

@media only screen and (max-width: 850px){
    .col-2 h1{
        font-size: 46px;
    }
    .header-container img{
        padding: 1.8em 2em;
    }
    .text-content{
        margin-top: 2em;
        margin-left: 2em !important;
    }
}

@media only screen and (max-width: 1100px){
    .email-input{
        border-radius: 24px;
        width: 280px;
        height: 40px;
    }
    .input-items button{
        height: 46px;
        width: 80px;
        border-radius: 40px;
        position: absolute;
        left: 240px;
        bottom: 0;
    }
    
    .fas{
        color: #fff;
        font-size: 18px;
        padding: 10px 20px;
    }
    .text-content{
        margin-top: 2em;
        margin-left: 5em;
    }
}

@media only screen and (max-width: 1250px){
    .col-2 h4{
        max-width: 400px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px){
    .col-2 img{
        max-width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}